.player-hand {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  // Base styles for opponent's cards (mobile first)
  &.opponent {
    ::ng-deep .card {
      width: 35px;
      height: 52px;

      .card-value {
        font-size: 1.2em;
      }

      .card-suit-red,
      .card-suit-black {
        font-size: 1.6em;
      }
    }
  }

  &:not(.opponent) {
    ::ng-deep .card {
      width: 70px;
      height: 105px;
    }
  }

  // Computers and up
  @media (min-width: 1200px) {
    padding: 20px;
    border-radius: 10px;
    min-height: 200px;

    &.opponent {
      ::ng-deep .card {
        width: 120px;
        height: 180px;

        .card-value {
          font-size: 1.5em;
        }

        .card-suit-red,
        .card-suit-black {
          font-size: 2em;
        }
      }
    }
    
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  min-height: 60px;

  @media (min-width: 1200px) {
    gap: 10px;
    min-height: 180px;
  }
}

.opponent .cards-container {
  transform: scale(0.8);
}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  @media (min-width: 1200px) {
    margin-bottom: 1.5rem;
  }
}

.pass-button {
  font-size: 1rem;
  padding: .6rem;
  border: 2px solid #ddd;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;

  @media (min-width: 1200px) {
    font-size: 1.2rem;
    padding: .8rem;
    border-radius: 8px;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translateY(0);
  }
}